<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.sendmessage</string>
	<key>connections</key>
	<dict>
		<key>132C0C72-2676-4A2A-96DD-07609BBE5933</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE094AE7-174C-4B2A-A0D9-38A2C2A9AB12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>2F65C811-12DA-4D77-A41F-E51318A3A21B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B23C7783-844F-4BC7-924D-CC2B86B5AD8F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AF5A32F-A06E-438C-98D7-163DB3136A28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>499E8F17-D095-4EAE-8285-6A6B8254FE8F</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Send</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>499E8F17-D095-4EAE-8285-6A6B8254FE8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22BA938B-6770-4AB9-B099-D938818AB45B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D794543-C59B-4002-8373-D32489039444</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22BA938B-6770-4AB9-B099-D938818AB45B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96AAE8BF-7B54-450D-8B6E-1DED3665F43B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE04D136-4428-4AE2-8673-BE1CFBD69381</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B23C7783-844F-4BC7-924D-CC2B86B5AD8F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96AAE8BF-7B54-450D-8B6E-1DED3665F43B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC65FB39-A0AD-49F0-AC13-D6DBBD4773C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AF5A32F-A06E-438C-98D7-163DB3136A28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>578B7E35-4E58-4EA0-96D0-EBF919614F69</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D794543-C59B-4002-8373-D32489039444</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4CBBD77-D593-435C-8870-8F11439592AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEB26108-2132-4627-B2F9-30DDE3A336C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>EE094AE7-174C-4B2A-A0D9-38A2C2A9AB12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BC65FB39-A0AD-49F0-AC13-D6DBBD4773C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEB26108-2132-4627-B2F9-30DDE3A336C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>132C0C72-2676-4A2A-96DD-07609BBE5933</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F721868D-8681-42DD-98E6-AB1BA2BD90C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F65C811-12DA-4D77-A41F-E51318A3A21B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Message a contact</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Send Message</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>behaviour</key>
				<integer>1</integer>
				<key>fontmode</key>
				<integer>0</integer>
				<key>fontsizing</key>
				<integer>0</integer>
				<key>footertext</key>
				<string>⌘↩ Send to {var:chat_names}</string>
				<key>inputfile</key>
				<string></string>
				<key>inputtype</key>
				<integer>0</integer>
				<key>loadingtext</key>
				<string></string>
				<key>outputmode</key>
				<integer>0</integer>
				<key>scriptinput</key>
				<integer>0</integer>
				<key>spellchecking</key>
				<integer>1</integer>
				<key>stackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.text</string>
			<key>uid</key>
			<string>3AF5A32F-A06E-438C-98D7-163DB3136A28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>message_text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>499E8F17-D095-4EAE-8285-6A6B8254FE8F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function run() {
  Application("Messages").send(
    envVar("message_text"),
    { to: Application("Messages").chats.byId(envVar("chat_id")) }
  )
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>22BA938B-6770-4AB9-B099-D938818AB45B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Message…</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>E4CBBD77-D593-435C-8870-8F11439592AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>{var:message_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Gathering contacts from Messages…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list-contacts</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>132C0C72-2676-4A2A-96DD-07609BBE5933</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:message_text}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Text View</string>
						<key>uid</key>
						<string>578B7E35-4E58-4EA0-96D0-EBF919614F69</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Universal Action</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BC65FB39-A0AD-49F0-AC13-D6DBBD4773C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>chat_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EE094AE7-174C-4B2A-A0D9-38A2C2A9AB12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>4D794543-C59B-4002-8373-D32489039444</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>message_text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EEB26108-2132-4627-B2F9-30DDE3A336C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function envVar(varName) {
  return $.NSProcessInfo
    .processInfo
    .environment
    .objectForKey(varName).js
}

function run() {
  // Only files in ~/Pictures are sent correctly, so we:
  // 1. Create a temporary folder inside it.
  // 2. Copy the files into it.
  // 3. Send the files sequentially.
  // 4. Wait a few seconds, because Messages does not reliably report transfer status
  // 5. Trash the folder.

  const fileManager = $.NSFileManager.defaultManager
  const tmpDir = $(`~/Pictures/${envVar("alfred_workflow_bundleid")}.${$.NSProcessInfo.processInfo.globallyUniqueString.js}`).stringByExpandingTildeInPath.js
  fileManager.createDirectoryAtPathWithIntermediateDirectoriesAttributesError(tmpDir, true, undefined, undefined)

  envVar("message_files")
    .split("\t")
    .forEach(file =&gt; {
      const fileName = $(file).lastPathComponent.js
      const tmpFile = $(tmpDir).stringByAppendingPathComponent(fileName).js
      fileManager.copyItemAtPathToPathError(file, tmpFile, undefined)

      Application("Messages").send(
        Path(tmpFile),
        { to: Application("Messages").chats.byId(envVar("chat_id")) }
      )
    })

  delay(30)
  fileManager.trashItemAtURLResultingItemURLError($.NSURL.fileURLWithPath(tmpDir), undefined, undefined)
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BE04D136-4428-4AE2-8673-BE1CFBD69381</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Gathering contacts from Messages…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>list-contacts</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B23C7783-844F-4BC7-924D-CC2B86B5AD8F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Message…</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>F721868D-8681-42DD-98E6-AB1BA2BD90C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>message_files</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2F65C811-12DA-4D77-A41F-E51318A3A21B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>chat_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>96AAE8BF-7B54-450D-8B6E-1DED3665F43B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Write and send a message to an ongoing conversation in Messages via the `message` keyword.

![Searching for a contact](images/about/keyword.png)

![Writing message](images/about/textview.png)

Send URLs, files, and text from a selection or [Clipboard History](https://www.alfredapp.com/help/features/clipboard/) with the [Universal Actions](https://www.alfredapp.com/help/features/universal-actions/).

![Universal Action to send file](images/about/uafile.png)

![Universal Action to send text](images/about/uatext.png)</string>
	<key>uidata</key>
	<dict>
		<key>132C0C72-2676-4A2A-96DD-07609BBE5933</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>22BA938B-6770-4AB9-B099-D938818AB45B</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>2F65C811-12DA-4D77-A41F-E51318A3A21B</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>3AF5A32F-A06E-438C-98D7-163DB3136A28</key>
		<dict>
			<key>xpos</key>
			<real>725</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>499E8F17-D095-4EAE-8285-6A6B8254FE8F</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>4D794543-C59B-4002-8373-D32489039444</key>
		<dict>
			<key>xpos</key>
			<real>910</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>96AAE8BF-7B54-450D-8B6E-1DED3665F43B</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>B23C7783-844F-4BC7-924D-CC2B86B5AD8F</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>BC65FB39-A0AD-49F0-AC13-D6DBBD4773C6</key>
		<dict>
			<key>xpos</key>
			<real>570</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>BE04D136-4428-4AE2-8673-BE1CFBD69381</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>E4CBBD77-D593-435C-8870-8F11439592AA</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>EE094AE7-174C-4B2A-A0D9-38A2C2A9AB12</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>EEB26108-2132-4627-B2F9-30DDE3A336C3</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>F721868D-8681-42DD-98E6-AB1BA2BD90C4</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>message</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Message Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>message_keyword</string>
		</dict>
	</array>
	<key>version</key>
	<string>25.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/send-message-workflow/</string>
</dict>
</plist>
